.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal-box {
  background-color: #fff;
  padding: 16px;
  border-radius: 9px;
  width: 100%;
  max-width: 380px;
}

.modal-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 19px;
}

.modal-title {
  font-size: 19px;
  font-weight: 900;
  color: #1e293b;
}

.close-btn {
  background: none;
  border: 1px solid #cbd5e1;
  border-radius: 4px;
  font-size: 12px;
  color: #64748b;
  cursor: pointer;
  padding:10px;
}

.field-group {
  margin-bottom: 14px;
}

.field-label {
  display: block;
  font-size: 11px;
  font-weight: 600;
  color: #475569;
  margin-bottom: 5px;
  letter-spacing: 0.4px;
}

.field-input {
  width: 100%;
  padding: 9px 13px;
  border: 1px solid #cbd5e1;
  border-radius: 6px;
  font-size: 13px;
  outline: none;
  font-family: 'Roboto';
  color: #1e293b;
}

.field-input:focus {
  border-color: #6366f1;
}

.field-textarea {
  resize: none;
}

.two-col {
  display: flex;
  gap: 12px;
}

.two-col .field-group {
  flex: 1;
}

.err-msg {
  color: #ef4444;
  font-size: 12px;
  margin-bottom: 10px;
}

.modal-btns {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.cancel-btn {
  padding: 9px 18px;
  background-color: #f1f5f9;
  color: #475569;
  border: none;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}

.submit-btn {
  padding: 9px 18px;
  background-color: #6366f1;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #4f46e5;
}